storage_presets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="YaogUI"
           xmlns="YaogUI storage_presets.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Presets">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Preset" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="priority" type="xs:string"/>
                        <xs:attribute name="onlyFSItem" type="xs:boolean"/>
                        <xs:attribute name="CanSale" type="xs:boolean"/>
                        <xs:attribute name="onlyBigFish" type="xs:boolean"/>
                        <xs:sequence>
                            <xs:choice>
                                <xs:element name="Tier" minOccurs="0">
                                    <xs:complexType>
                                        <xs:attribute name="min" type="xs:unsignedByte"/>
                                        <xs:attribute name="max" type="xs:unsignedByte"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="Kind" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="unbounded" name="Label" type="xs:string"/>
                                            </xs:sequence>
                                            <xs:attribute name="name" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:element name="Quality" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="Label" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Elements" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="Label" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>

                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>